@media screen and (max-width:576px) {
    nav, ul ,.popular-containar {
        flex-direction: column;
    }
    ul li{
        margin-top: 10px;
    }
    .form{
        display: block;
        padding: 10px;
        height: 230px;
        
        
    }
    .banner {
        height: 560px;
        width: 90%;
        object-fit: cover;
        padding: 20px;
        margin: 0 auto;
       
      
    }
    .form button,.form input,.form select{
        margin-top: 10px;
        width: 80%;
    }
    .popular-containar{
        margin: 50px;
    }
    
    .popular-containar > div {
        width: 100%;
    }
}